body {
	font-family: Arial;
	font-size: 17px;
	line-height: 1.5;
	/* overflow: hidden; */
	user-select: none;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}


.right {
    width:50%;
    height:100%;
    position:fixed;
    top:0;
    right:0;
    /* color: black; */
    padding: 100;
    overflow-y: scroll;
}

div.cursor {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #edc5bd;
  border-radius: 50%;
  transform:translate(-50%,-50%);
	transition: width 0.25s, height 0.25s;
  display: none;
}

div.cursor.is-down {
  width: 80px;
  height: 80px;
  display: block;
}

div.cursor span {
  position:  absolute;
  top: 20px;
  left: 20px;
  width: 200px;
}

div.cursor.is-down span {
  top : 100px;
  left: 100px;
}

.loader {
	display: none;
	float: left;
	margin: 5px;
	padding: 5px;
}

.error {
	float: left;
	margin: 5px;
	padding: 5px;
}

.loader img {
	width: 30px;
	height: 30px;
}

canvas {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: lighten;
}

div.pattern {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #edada1;
  background-size: 450px 450px;
  z-index: 0;
}

section.scratched-out {
  right: 0;
  width: 50%;
  mix-blend-mode: darken;
}

section.scratched-in {
  right: 0;
  width: 50%;
  mix-blend-mode: darken;
}

div.lineup {
	background-color: #efddda;
  position: absolute;
	user-select: none;
  top: 0;
  right: 0;
  width: 100%;
  overflow-y: scroll;
	padding-left: 50px;
	padding-top: 30px;
	min-height: 100%;
}

.left {
    width:50%;
		/* height:100%; */
    min-height:100vh;
    position:relative;
    top:0;
    color: black;
    overflow-y: scroll;
    left:0;
		padding: 100;
}

.entry {
  position: relative;
  margin: 30px;
	padding-bottom: 40px;
}

h1 {
	position: relative;
  margin: 30px;
  font-size: 30px;
  font-weight: bold;
}

.desc {
	position: relative;
  margin: 0 30px;
  text-justify: inter-word;
  padding-right: 0px;
	width: 80%;
}

a:link, a:visited {
  text-decoration: none;
  color: black;
	font-weight: bold;
}

a:hover, a:active {
  text-decoration: bold;
  color: #edada1;
}

input {
  height: 22px;
  font-size: 14px;
	border-radius: 2px;
	border-width: 1px;
}

button {
	height: 40px;
	width: 100px;
	background-color: #edada1;
	color: #ffffff;
	border-radius: 10px;
	font-size: 16px;
	float: left;
}

.footer {
	position: absolute;
	font-size: 12px;
	margin-bottom: 30px;
	margin-top: 70px;
	width: 100%;
	text-align: center;
	opacity: 0.7;
}



@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {
	.left, .right {
			left:0;
			height:50%;
			width:100%;
			overflow-y: scroll;
	}
	.right {
		bottom:0;
		top:auto;
	}
	h1 {
		font-size: 40px;
	}
	.desc {
		font-size: 28px;
		width: 90%;
	}
	form, .entry, button, input {
		font-size: 28px;
	}
	input {
		height: 35px;
	}
	p {
		margin: 10px;
	}
	.pattern, canvas {
		display: none;
	}
	.footer {
		margin-top: 10px;
		font-size: 20px;
	}
	input[type=radio] {
		width: 30px;
		height: 30px;
		border-radius: 10px;
	}
	input[type=text] {
		height: 30px;
		border-width: 1px;
	}
	button {
		width: 150px;
		height: 50px;
	}
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait)  {
	.left, .right {
			left:0;
			width:100%;
			overflow-y: scroll;
	}
	.left {
		height:60%;
	}
	.right {
		height:40%;
		bottom:0;
		top:auto;
	}
	h1 {
		font-size: 40px;
	}
	.desc {
		font-size: 28px;
		width: 90%;
	}
	form, .entry, button, input {
		font-size: 28px;
	}
	input {
		height: 35px;
	}
	p {
		margin: 10px;
	}
	.pattern, canvas {
		display: none;
	}
	.footer {
		margin-top: 10px;
		font-size: 20px;
	}
	input[type=radio] {
		width: 30px;
		height: 30px;
		border-radius: 10px;
	}
	input[type=text] {
		height: 30px;
		border-width: 1px;
	}
	button {
		width: 150px;
		height: 50px;
	}
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : landscape) {
	.pattern, canvas {
		display: none;
	}
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape)  {
	.pattern, canvas {
		display: none;
	}
}
