body {
	font-family: Arial;
	font-size: 16px;
	line-height: 1.5;
/*   height: 100vh; */
  /* cursor: none; */

/* 	background-color: #ffffff;
	color: #333333;
	margin: 40px auto 40px auto;
	width: 620px; */
}

.right {
    width:50%;
    height:100%;
    position:fixed;
    top:0;
    right:0;
    color: black;
    padding: 100;
    overflow: scroll;
}

.desc {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

div.cursor {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #edada1;
  border-radius: 50%;
  transform:translate(-50%,-50%);
	transition: width 0.25s, height 0.25s;
  display: none;
}

div.cursor.is-down {
  width: 80px;
  height: 80px;
  display: block;
}

div.cursor span {
  position:  absolute;
  top: 20px;
  left: 20px;
  width: 200px;
}

div.cursor.is-down span {
  top : 100px;
  left: 100px;
}

canvas {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: lighten;
}

/* section {
  padding: 80px;
  font-size: 80px;
  font-weight: 700;
  line-height: 1.1;

  position: absolute;
  top: 0;
  left: 0;

  user-select: none;
}
 */
div.pattern {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #d4d4d4;
  background-image: url(pattern.svg);
  background-size: 450px 450px;
  z-index: 0;
}

section.scratched-out {
  right: 0;
  width: 50%;
  mix-blend-mode: darken;
}

section.scratched-in {
  right: 0;
  width: 50%;
  mix-blend-mode: darken;
}

div.lineup {
  background-color: #dadaff;
  position: absolute;
	user-select: none;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  padding-top: 20px;
  overflow: scroll;
}

div.lineup span {
  padding: 20px;
}

div.lineup img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}



/* new */

.left, .right {
    width:50%;
    height:100%;
    position:fixed;
    top:0;
    color: black;
    padding: 100;
    overflow: scroll;
}
.left {
    left:0;
}
.right {
    right:0;
    /* background-color: #edada1; */
}
@media screen and (max-width: 900px) {
    .left, .right {
        left:0;
        height:50%;
        width:100%;
    }
    .right {
      bottom:0;
      top:auto;
    }
}

.entry {
  position: relative;
  margin: 30px;
}

h1 {
	position: relative;
  margin: 30px;
  font-size: 30px;
  font-weight: bold;
}

.desc {
	position: relative;
  margin: 0 30px;
  text-justify: inter-word;
  padding-right: 0px;
	height: 25%;
	width: 80%;
}

a:link, a:visited {
  text-decoration: none;
  color: black;
}

a:hover, a:active {
  text-decoration: bold;
  color: #edada1;
}

input {
  height: 22px;
  font-size: 14px;
}
