<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Letter Boxed Solver</title>
  <meta name="description" content="Letter Boxed Solver">
  <meta name="author" content="Alice Liang">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="static/styles.css?version=60">

</head>

<body>
<div class="left">
  <h1> Letter Boxed Solver </h1>
  <div class="desc">
    <a href="https://www.nytimes.com/puzzles/letter-boxed" target="_blank">Letter Boxed is a game from The New York Times.</a>
    You make words by connecting letters that are not on the same side as each other.
    This way, you travel around the box, and you win when you use all the letters.
    But you might get frustrated and need the answers from time to time!
  </div>
  <div class="entry">

  <form>
    Left: <input type='text' maxlength='3' id='left'><p>
    Top: <input type='text' maxlength='3' id='top'><p>
    Right: <input type='text' maxlength='3' id='right'><p>
    Bottom: <input type='text' maxlength='3' id='bottom'><p>
    Solve in this # of words: <input type='radio' name='num' value='1'>1 (rare)
                <input type='radio' name='num' value='2' checked='checked'>2
                <input type='radio' name='num' value='3'>3 (slow)<p>
    <button type='button' id ='retrieve'>Solve</button>
  </form>
  </div>
</div>
<div class="right">
  <div class='output' id='results'></div>
</div>
</body>

<script>
  $(document).ready(function() {
     $('#retrieve').click(function(){
         var l = $('#left').val();
         var t = $('#top').val();
         var r = $('#right').val();
         var b = $('#bottom').val();
         var num = $('input[name=num]:checked').val();

         $.ajax({
           url: "/transform",
           type: "get",
           data: {left: l, top: t, right: r, bottom: b, number: num},
           success: function(response) {
             console.log(response);
           $("#results").show();
           $("#results").html(response.html);
          },
          error: function(xhr) {
            //Do Something to handle error
       }
       });
     });
  });
</script>

</html>
